@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
header a{
    font-size: 4em;
    text-align: center;
    color: rgb(41, 212, 155);
    font-weight: bold;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: rgb(113, 154, 241);
    font-family: 'Inter', sans-serif;
}
.container{
    width: 100%;
    max-width:1000px;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0  0 10px 10px rgba(0, 0, 0, 0.212) ;
}
.container-img{
    width: 50%;
    background:antiquewhite;

}
.container-img img{
    width: 100%;
    height: 100%;
   
}
img{
    border-radius: 20px;
}
.form form{
    width:100%;
    max-width:950px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.gruop_input{
   padding: .98em;
    margin: auto;
}
.input_box input{
    padding: 0.40em;
    outline: none;
    border: none;
    width: 240px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

}
.gruop_gender{
   margin: auto 0px;

}
.form-button button{
    padding: 0.90em;
    border: none;
    outline: none;
    margin: auto;
    width: 175px;
    border-radius: 30px;
    cursor: pointer;
    background: rgb(240, 163, 62);
}
.form-button button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
@media all  and (max-width: 800px)  {
    .container-img{
        display: none;
    }
}